*{
    padding:0;
    margin:0;
    outline:none;
}
header,footer,#rectangle,#circle,#triangle-up,#star-five,#hexagon,#infinity,#star-five{
    margin: auto;
    position: relative;
}
body{
    color:#555;
    vertical-align:middle;
    background: #EEE;
    font: 14px;
}
header{
    display: block;
    top: 0;
    vertical-align: middle;
    height:  50px;
    width: 1200px;
    padding: 10px;
    border-bottom:1px solid #3c6;
    background-color: #CCC;


}
header span{
    font-size: 120%;
    color: #39F
}

main{
    padding: 10px;
    width: 1198px;
    min-height: 800px;
    position: relative;
    margin: auto;
    overflow: hidden;
    
    border: solid 1px #39F;
    
    background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(135,135,135,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(0%,rgba(135,135,135,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(135,135,135,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(135,135,135,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(135,135,135,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(135,135,135,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}
/*Навигация*/
input[class="NavBatton"] + label{
    display: block;
    width: 357px;
    height: 250px;
    float: left;
    margin: 11px;
    border-radius: 2px;
    background-color: RGBA(70,70,70,0.6);
    color:#fff;
    padding: 10px;
    text-align: center;
}
input[class="NavBatton"] + label:hover{
    box-shadow: 2px 2px 0px #39F; 
}
input[class="NavBatton"]:checked + label{
    transition: all 1s;
    width: 1160px;
    min-height: 760px;
}
nav input[type="radio"],
#NavNotActiv:not(:checked) ~ input[class="NavBatton"]:not(:checked) + label,
#NavNotActiv:checked + .BackBt,
menu{
    display: none;
}
#NavNotActiv:not(:checked) + .BackBt{
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 20%;
    width: 150px;
    text-align: center;
    opacity: 0.5;
    padding-top: 40px;
    box-shadow: 0 0 2px #000;
    font-stretch: ultra-expanded;
    font-size: 20px;
}
#NavNotActiv:not(:checked) + .BackBt:Hover{
    opacity: 1;
    cursor: pointer;
}
input[class="NavBatton"]:checked + label .BlocAlign{
    display: block;
    position: absolute;
    top: 35px;
    right: 30px;
    bottom: 35px;
    width: 500px;
    background-color: #FFF;
    border: 1px solid #000;
    color:#555;
    transition: all 1s;
    padding: 10px;
}


/*Фигуры*/
#rectangle,#circle,#triangle-up,#hexagon{
    background: #3c3;
    margin-top: 20px;
}
#rectangle {
    width: 200px;
    height: 100px;
}
#circle {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
#triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid  #3c3;;
}
#star-five {
   margin: 50px 0;
   position: relative;
   display: block;
   color: #3c3;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid #3c3;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}
#star-five:before {
   border-bottom: 80px solid #3c3;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
   
}
#star-five:after {
   position: absolute;
   display: block;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid #3c3;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}
#hexagon {
    width: 100px;
    height: 55px;
    background: #3c3;
    position: relative;
}
#hexagon:before {
    content: "";
    position: absolute;
    top: -25px; 
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid #3c3;
}
#hexagon:after {
    content: "";
    position: absolute;
    bottom: -25px; 
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #3c3;
}
#infinity {
    position: relative;
    width: 212px;
    height: 100px;
}
 
#infinity:before,
#infinity:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;    
    border: 20px solid #3c3;
    -moz-border-radius: 50px 50px 0 50px;
         border-radius: 50px 50px 0 50px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
 
#infinity:after {
    left: auto;
    right: 0;
    -moz-border-radius: 50px 50px 50px 0;
         border-radius: 50px 50px 50px 0;
    -webkit-transform:rotate(45deg);
       -moz-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
         -o-transform:rotate(45deg);
            transform:rotate(45deg);
}
/*
Менюшка меняющая свойства
*/



/*Подвал*/
address{
    float: left;
}
footer{
    display: block;
    bottom: 0;
    vertical-align: middle;
    height:  20px;
    width: 1200px;
    text-align: right;
    background-color: #555;
    color:#ccc;
    padding: 10px;
}